.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.9);
}



.modal__content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 95%;
    max-width: 95%;


}

/* Универсальная обертка для модальных окон. Добавляется непосредственно элементу, который отображается */
.modal-wrapper {
    padding: 65px;
    background-color: #343a40;
    border-radius: 13px;

}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}


.modal__close:hover {
    opacity: 1;
}

.modal__close:before,
.modal__close:after {
    position: absolute;
    top: 0;
    left: 10px;
    content: ' ';
    height: 20px;
    width: 4px;
    background-color: white;

}

.modal__close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal__close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.modal__warning {
    color: white;
    font-size: 17px;
}



@media(max-width: 992px) {


    .modal-wrapper {
        padding: 48px;

    }

    .modal__close:before,
    .modal__close:after {
        height: 26px;
    }

    .modal__close {
        right: 12px;
        top: 15px;
    }

}




@media(max-width: 767px) {

    .modal__close:before,
    .modal__close:after {
        height: 23px;
    }

    .modal__close {
        right: 8px;
    }

    .modal-wrapper {
        padding: 52px 43px;
    }

    .modal__warning-text {
        min-width: 126px;
    }



}
