.main-bg {
    background-color: #fff;
}

.main {
    margin-bottom: 60px;
}
.main__buttons-container {
    display: flex;
    justify-content: space-around;
    padding: 60px 0 90px;

}
.main__button {

}


.main__about-container {
    padding: 0 20px;
}

.main__about-p {
    margin-bottom: 16px;

}
.main__about-ul {
    list-style: initial;
    padding-left: 40px;
    margin-bottom: 16px;

}
.main__about-li {
    list-style: initial;

}

@media(max-width: 767px) {

    .main {
        margin-bottom: 45px;
    }

    .main__buttons-container{
         justify-content: center;
         flex-wrap: wrap;
    }

    .main__button {
        width: 176px;
        margin: 0 10px 20px 10px;
    }

    .main__buttons-container {
        padding: 44px 0 37px;
    }
	
}

@media(max-width: 359px) {
    
}
